
@model ALENGINE.Models.ViewModel.DispensaryViewModel


<!DOCTYPE html>
<html lang="en">


<!-- form-horizontal23:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>SCRIPT Medd</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index-2.html" class="logo">
                    <img src="assets/img/logo.png" width="35" height="35" alt=""> <span>SCRIPT Medd 1.0</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="John Doe" src="assets/img/user.jpg" class="img-fluid">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">V</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">L</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">G</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">V</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="assets/img/user.jpg" width="40" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>


                        <li class="submenu">
                            <a href="#"><i class="fa fa-user"></i> <span> Records </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="@Url.Action("Index","Records")">Add New Records</a></li>

                                <li><a href="@Url.Action("Index","ListPatient")">View Records</a></li>

                            </ul>
                        </li>




















                        <li class="submenu">
                            <a href="#"><i class="fa fa-hospital-o"></i> <span> OPD </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="@Url.Action("Index","OPD")">Attendance - OPD</a></li>
                                <li><a href="@Url.Action("Index","OPDReport")">OPD Report</a></li>

                            </ul>

                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> Consulting </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="@Url.Action("Index","ConsultingList")">Add Consultation</a></li>
                                <li><a href="@Url.Action("Index","ConsultingReport")">Consulting Report</a></li>

                            </ul>

                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> ANC  </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="#">Add ANC Records</a></li>
                                <li><a href="#">ANC Records List</a></li>
                                <li><a href="#">ANC Records History</a></li>
                                <li><a href="#">Add Delivery Note</a></li>
                                <li><a href="#">Add Post Natal</a></li>



                            </ul>

                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> Inventory  </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="@Url.Action("Index","Inventory")">Add Inventory(Drugs)</a></li>
                                <li><a href="@Url.Action("Index","InventoryList")">Inventory List</a></li>

                            </ul>

                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> Dispensary  </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="@Url.Action("Index","DispensaryList")">Dispensery List</a></li>
                                <li><a href="@Url.Action("#")">Dispensery Report</a></li>

                            </ul>

                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> BULK SMS </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="@Url.Action("Index","Bulksms")">Send SMS</a></li>


                            </ul>

                        </li>
                        <li class="submenu">
                            <a href=""><i class="fa fa-calendar-check-o"></i> <span> Log Out  </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/Identity/Account/Logout">Log Out</a></li>


                            </ul>

                        </li>



                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">

                            <h4 class="card-title">Consulting Information</h4>

                            <div>| <a href="https://localhost:7051/DispensaryList">Back<<</a></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Registration Number</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.RegistrationNumber, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Surname</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Othernames</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.OtherNames, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" hidden>Examination</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Examination, new { @class = "form-control", @hidden = "hidden" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" hidden>Treatment</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Treatment, new { @class = "form-control", @hidden = "hidden" })
                                        </div>
                                    </div>



                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
            <div class="content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Type of Services</label>
                                    @Html.TextBoxFor(m => m.TypeOfService, new { @class = "form-control", @readonly = "readonly" })
                                    <div>
                                        <label>Outcome</label>
                                        @Html.TextBoxFor(m => m.Outcome, new { @class = "form-control", @readonly = "readonly" })
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <label>Visitation Type/Date of Service Provision</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.VisitationType, new { @class = "form-control", @readonly = "readonly" })
                                           
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.VisitationDate, new { @class = "form-control", @readonly = "readonly" })
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="card-box">

                            <div class="row">
                                <div class="col-sm-6">

                                    <label>Procedure(s)</label>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Procedure1, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Procedure2, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Procedure3, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                @Html.TextBoxFor(m => m.PDescription1, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.PDescription2, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.PDescription3, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <label>Date/G-DRG </label>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Pdate1, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Pdate2, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Pdate3, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.PDRG1, new { @class = "form-control", @readonly = "readonly" })
                                               
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.PDRG2, new { @class = "form-control", @readonly = "readonly" })
                                                
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.PDRG3, new { @class = "form-control", @readonly = "readonly" })
                                               
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                        <!--PROCEDURE-->
                        <div class="card-box">

                            <div class="row">
                                <div class="col-sm-6">

                                    <label>Diagnosis(es)</label>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Diagnosis1, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Diagnosis2, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Diagnosis3, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Diagnosis4, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                @Html.TextBoxFor(m => m.DDescription1, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                 @Html.TextBoxFor(m => m.DDescription2, new { @class = "form-control", @readonly = "readonly" })

                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DDescription3, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DDescription4, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <label>ICD/G-DRG </label>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DICD1, new { @class = "form-control", @readonly = "readonly" })
                                              
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DICD2, new { @class = "form-control", @readonly = "readonly" })
                                               
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DICD3, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DICD4, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DIDRG1, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DIDRG2, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DIDRG3, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.DIDRG4, new { @class = "form-control", @readonly = "readonly" })
                                               
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!--INVESTIGATIONS-->
                <div class="card-box">

                    <div class="row">
                        <div class="col-sm-6">

                            <label>Investigation(s)</label>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.Investigation1, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.Investigation2, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.Investigation3, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.Investigation4, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                            @Html.TextBoxFor(m => m.IDescription1, new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IDescription2, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IDescription3, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IDescription4, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-6">
                            <label>Date/G-DRG </label>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IDate1, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IDate2, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IDate3, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IDate4, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IGDRG1, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IGDRG2, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IGDRG3, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.IGDRG4, new { @class = "form-control", @readonly = "readonly" })
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                </div>
                <div class="content">


                 

                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">

                            <iframe id="inlineFrameExample"
                                    title="ScriptMedd"
                                    width="1800"
                                    height="500"
                                    src="https://localhost:7051/ListDrugs/">
                            </iframe>
                        </div>
                    </div>
                </div>

            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Richard Miles </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">John Doe</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Tarah Shropshire </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Mike Litorus</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Catherine Manseau </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Buster Wigton </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Rolland Webber </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Claire Mapes </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Melita Faucher</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Jeffery Lalor</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Loren Gatlin</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Tarah Shropshire</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script type="text/javascript">$(document).ready(function () {
            $('#ProductList').change(function () {
                $.post("/QuoteViewModel/GetProduct", { pId: $(this).val() }, function (data) {
                    $('#ItemName').val(data.ItemName);
                    $('#Price').val(data.Price);
                });
            });
        });</script>
    <script>function add_number() {
            var first_number = parseInt(document.getElementById("Qty").value);
            var second_number = parseInt(document.getElementById("SalesPrice").value);


            var result = first_number * second_number;


            // alert(result);
            return document.getElementById("Sales").value = result;

        }</script>
    <script src="~/assets/js/jqueryautocomplete.js"></script>

    <script type="text/javascript">$(function () {
            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Dispensary/AutoComplete/',
                        data: "{'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                },
                minLength: 1
            });
        });</script>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>


<!-- form-horizontal23:59-->
</html>