@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Inventory>

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> scriptMEDD </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />



    <!-- fonts style -->
    <link href="~/css2/custom.css" rel="stylesheet">
    <link href="~/css2/boostraptable.css" rel="stylesheet">
    <link href="~/css2/bootstrap4.css" rel="stylesheet">
    <link href="~/css2/responsive.bootstrap4.css" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css2/custom2.css" />

    <!-- font awesome style -->
    <link href="~/css2/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css2/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css2/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
                        <span>
                            scriptMEDD

                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home </a>
                            </li>



                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- about section -->
    <!-- about section -->
    <section>
        <div class="container  ">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="container">
                        <br />
                        <div class="row">
                            <h4>Inventory | Inventory List <hr /></h4>
                        </div>
                    </div>
                    <form asp-action="index" method="get" role="form">
                        <div class="row filter-row">

                            <div class="col-sm-6 col-md-3">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Enter Item Name</label>
                                    <div class="cal-icon">
                                        <input type="text" name="Searchstring" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Enter Member ID here" value="@ViewData["CurrentFilter"]" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-md-3">
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                        <div style="overflow:auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-striped custom-table mb-0 datatable">
                                            <thead>
                                                <tr>

                                                    <th>Item Name</th>
                                                    <th>Manufacturing Date</th>
                                                    <th>Expiry Date</th>

                                                    <th>Manufacturer</th>
                                                    <th>Quantity</th>
                                                    <th>Cost Price</th>
                                                    <th>Sales Price</th>
                                                    <th>Expected Sales</th>
                                                    <th>CreatedDate</th>












                                                    <th class="text-right">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var obj in Model)
                                                {

                                                    <tr>

                                                        <td>@obj.ItemName</td>
                                                        <td>@obj.ManufacturingDate</td>
                                                        <td>@obj.ExpiryDate</td>

                                                        <td>@obj.Manufacturer</td>

                                                        <td>@obj.Quantity</td>

                                                        <td>@obj.CostPrice</td>
                                                        <td>@obj.SalesPrice</td>
                                                        <td>@obj.ExpectedSales</td>
                                                        <td>@obj.CreatedDate</td>


                                                        <td class="text-center">
                                                            <div class="dropdown action-label">

                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item" href="#">Pending</a>
                                                                    <a class="dropdown-item" href="#">Approved</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="dropdown dropdown-action">
                                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item"><i class="fa fa-currency m-r-5"></i>Export to Pdf/Excel</a>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>









    <!-- end about section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
        </div>

    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }</script>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js2/query-3.7.1.js"></script>
    <script type="text/javascript" src="~/js2/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js2/dataTables.js"></script>
    <script type="text/javascript" src="~/js2/data"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>


</body>

</html>



